* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Metal Mania", system-ui; 
}

html {
    height: 100%;
    width: 100%;
}

.parte_arriba8 {
    height: 28em;
    width: 100%;
}

.atras8 {
    position: absolute;
}

.parte_arriba8 img {
    height: 100%;
    width: 100%;
}

h1 {
    margin: 0;
    color: #FFE600;
    font-size: 85px;
    text-align: center;
    -webkit-text-stroke: 1px #EC9718;
    flex-direction: column;
    margin-top:10px;
}
#parte_abajo8 {
    background-image: url(../Imagenes/fondo.png);
    padding-bottom: 0.6em;
    position: absolute;
    bottom: 0%;
    align-items: center;
    width: 100%;
}
.contenido_parte_abajo8 {
    margin: 0;
    color: #FFE600;
    font-size: 45px;
    -webkit-text-stroke: 1px #EC9718;
    background-color: #fee600;
    border-radius: 10px;
    margin-left: 5% ;
    margin-right: 5%;
    display: flex;
    border: solid  #EC9718 5px;
    justify-content: center;
    gap: 0.7em;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 2%;
}
